{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API for managing plants",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },

  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],

  "security": [
    {
      "bearerAuth": []
    }
  ],

  "paths": {
    "/plants": {
      "get": {
        "summary": "Get all plants",
        "description": "Returns all plants from the system",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "price": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}